body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;

}

.navbar-left, .navbar-right {
    display: flex;
    gap: 15px;
    padding-right: 70px;
    
}

.navbar-center {
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #000000;
}

.logo {
    --glow-color: rgb(122, 122, 173);
    --glow-spread-color: rgba(59, 94, 124, 0.543);
    --enhanced-glow-color: rgb(230, 199, 255);
    --btn-color: rgb(40, 44, 160);
    letter-spacing: 1px;
    font-size: 2.4rem;
    color: aliceblue;
    text-shadow: 0 0 .5em var(--glow-color);
}


/* HERO SECTION  */

/* Profile Section Styling */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    padding: 5rem;
    
    background-color: #000000;
    width: 62%; /* Adjusted width for better centering */
    margin: 0 auto;
    margin-bottom: -50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Hide initially */
    animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
  }
  
  /* Animations */
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Start slightly above */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Profile Image Styles */
  
  .hero-section img {
    width: auto;
    margin-top: -80px;
    height: 150px;
    border: 5px solid #1c69dd;
    border-radius: 50%; /* Make sure the image is perfectly round */
    padding: 5px;
    
    
  }
  
  .hero-section img:hover {
    
    border-color: #a72b0c; /* Adjusted for hover effect */
  }
  
  /* Name Text */
  
  .hero-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
  }
  
  /* Icons for github and linkedin */
  
  .resume-icons i {
    color: #1239c4;
    padding: 10px;
    
    font-size: 2.5rem;
    padding-top: 10px;

    animation: fadeIn 1s ease-in-out forwards;

    
    
  }
  
  .hero-section h3 {
    font-size: 1.5rem;
    color: #83858a;
    
  }
  
  .hero-section span {
    font-size: 1.5rem;
    color: #505050;
  }

  button {
    --glow-color: rgb(76, 98, 123);
    --glow-spread-color: rgba(18, 58, 58, 0.543);
    --enhanced-glow-color: rgb(200, 185, 212);
    --btn-color: rgb(0, 8, 255);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    color: white;
    transition: all 0.3s;
    margin-left: 1px;
    margin-top: 10px;
    
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
           color: rgb(255, 255, 255);
           cursor: pointer;
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   .container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

/* about section */

/* Define the keyframes for the pulsing effect */
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the .scrollbtn class */
  .scrollbtn {
    display: inline-block;
    animation: pulse 1.5s infinite;
    /* Optional: Add some styling for better visibility */
    font-size: 16px;
    color: #3498db; /* Change to your preferred color */
    font-weight: bold;
  }
  


.skillcard {
    width: 190px;
    margin-top: 100px;
    height: 100px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(22, 23, 64),
                -15px -15px 30px rgb(12, 1, 110);
                display: flex;
                flex-direction: column;
                justify-content: center;

                
   }


.fa-c:hover{
    color: #0c90a7;
    animation: fadeIn 1s ease-in-out forwards;
}

.fa-python:hover{
    color: #9aa70c;
    animation: fadeIn 2s ease-in-out forwards;
}

.fa-java:hover{
    color: #d95d0a;
    animation: fadeIn 1s ease-in-out forwards;
}

.fa-html5:hover{
    color: #9a2005;
    animation: fadeIn 1s ease-in-out forwards;
}

.fa-css3:hover{
    color: #0e6aff;
    animation: fadeIn 1s ease-in-out forwards;
}

.fa-js:hover{
    color: #ffff00;
    animation: fadeIn 1s ease-in-out forwards;
}

.bxl-php:hover{
    color: #00ffe5;
    animation: fadeIn 1s ease-in-out forwards;
}

.bxl-visual-studio:hover{
    color: #1e00ff;
    animation: fadeIn 1s ease-in-out forwards;
}

.bxl-git:hover{
    color: #ff0000;
    animation: fadeIn 1s ease-in-out forwards;
}





   





/* Projects section */
.projects-section {
    --glow-color: rgb(76, 98, 123);
    --glow-spread-color: rgba(18, 58, 58, 0.543);
    --enhanced-glow-color: rgb(200, 185, 212);
    --btn-color: rgb(0, 8, 255);
    background-color: #000000;
    color: #ffffff;
    padding: 5rem;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    

    animation: fadeIn 1s ease-in-out forwards;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid with minimum item width of 300px */
    gap: 20px; /* Gap between grid items */
    max-width: 1200px; /* Optional: Limit maximum width of the grid */
    width: 100%; /* Ensure grid takes full width of parent */

    /* Responsive adjustments */
    @media (max-width: 768px) {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
        gap: 10px; /* Reduce gap between items for smaller screens */
        width: 300px;

        
    }
}

.card {
    --glow-color: rgb(76, 98, 123);
    --glow-spread-color: rgba(18, 58, 58, 0.543);
    --enhanced-glow-color: rgb(200, 185, 212);
    --btn-color: rgb(0, 8, 255);
    text-shadow: 0 0 .5em var(--glow-color);

    position: relative;
    background-color: #212121;
    border: 5px solid #222;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px,
                inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
                inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    text-decoration: none;
}

.card:hover {
    box-shadow: rgba(0, 85, 255, 0.19) 0px 10px 20px,
                rgba(255, 255, 255, 0.23) 0px 6px 6px,
                inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
                inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 5px solid #0044ff;
    background-image: url();
}

.card-title,
.card-des,
.card-text {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #fff;
    
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    cursor: default;
}

.card-des {
    font-size: 15px;
    font-weight: 600;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    cursor: default;
}

.card-text {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    right: 20px;
    bottom: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 3px;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    animation: textanimate 0.8s alternate infinite;
    cursor: pointer;
}

.card:hover > .card-text {
    opacity: 1;
}

@keyframes textanimate {
    0% {
        right: 20px;
    }

    100% {
        right: 10px;
    }
}

.arrow-icon {
    font-size: 15px;
    font-weight: 500;
}



/* Contact section */
.contact-section {
    background-color: #000000;
    color: #ffffff;
    padding: 5rem;
    text-align: center;
}


button a{
    color: white;
    text-decoration: none;
}




/* Footer section */
.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

  


/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-left, .navbar-right {
        justify-content: center;
    }

    .navbar-center {
        margin: 10px 0;
    }

    button{
        margin-left: -1px;
    }


}



